@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

body{
    background: gray;
    width: 100vw;
    height: 100vh;

    position: relative;
}

div#corpo{
    background: rgba(255, 255, 255, 0.208);


    height: 400px;
    width: 300px;

    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.507);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

div#corpo > h1{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

img{
    width: 300px;
    height: 270px;

    padding-bottom: 20px;
}

button#botao-imagem{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.clicar{
    width: 130px;
    height: 40px;
    margin-right: 10px;
    font-size: 1.11em;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;

}

button.clicar:hover{
    background-color: rgb(244, 244, 156);
    color: black;
}

div#botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}



