@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(237, 237, 23);
    width: 100vw;
    height: 100vh;
    position: relative;
}

main{
    height: 550px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1{
    background-color: black;
    margin: auto;
    position: fixed;
    top: 0%;
    color: white;
    font-weight: bold;

    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 3em;

    padding-top: 20px;
    padding-bottom: 20px;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.512);

    margin-top: 30px;
}

div#escrever{
    position: fixed;
    bottom: 0%;
    margin: auto;

    margin-bottom: 20px;
}

input#elemento{
    background-color: white;
    width: 400px;
    height: 70px;
    border: none;
    cursor: pointer;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.512);
}


::placeholder{
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4em;
    font-weight: bold;
}

.item_item{
    background-color: white;
    width: 400px;
    height: 70px;
    border: none;
    text-align: center;
    color: black;
    font-size: 1.6em;
}

button{
    height: 25px;
    width: 30px;
    margin-right: 5px;
    position: fixed;
    right: 0;
    border-radius: 2px ;
    border: none;
    background-color: rgb(97, 1, 1);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(53, 2, 2);
}

div.item_list label{
    
    width: 400px;
    height: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.3em;

    display: flex;
    align-items:center;
}


div.item_list label input{
    color: white;
    display: inline;

    margin: 20px;
    transform: scale(1.8);
}

div.item_list label input div{
    font-size: 0.5em;
    color: white;
    font-family: Arial, sans-serif;
}

div.item_list label input:checked + div {
    text-decoration: line-through;
}
